*.xlsx
*.txt
data/*.csv
*.xlsm
__pycache__
*.log
*.tsv
test_run
*.ipynb
!notebooks/*.ipynb
.ipynb_checkpoints
.pytest_cache
htmlcov
catboost_info
*.json
!requirements.txt
.DS_Store
TODO.md
notebooks/Untitled.ipynb
*egg-info
.vscode
.mypy_cache
*.csv
*.xlsx
test/*